::ng-deep .ant-modal-content,::ng-deep .ant-modal-header,::ng-deep .ant-modal-title,::ng-deep .ant-modal-close-x,::ng-deep .ant-modal-footer{
    background-color: #1e1e1f !important; // Changer la couleur du fond
    color: white !important; // Changer la couleur du texte
    border: none;
}