@if(mp){
    <div class="profile" (click)="handleProfileClick()" [ngClass]="{ 'mp': mp }" >
        <div class="profile-picture-container">
            <img src="" alt="">
        </div>
        <div class="profile-info-container">
            <p *ngIf="friend">{{friend.friendName}}</p>
        </div>
    </div>
}@else{
    <div class="profile">
        <div class="profile-picture-container">
            <img src="" alt="">
        </div>
        <div class="profile-info-container">
            <p *ngIf="(user| async) as user">{{user.username}}</p>
        </div>
    </div>
}


