@if(mp){
    <div class="profile" (click)="handleProfileClick()" [ngClass]="{ 'mp': mp }" >
        <div class="profile-picture-container">
            <img [src]="(user | async)?.profilePicture || '/usericon2.png'" alt="photo de profil">
        </div>
        <div class="profile-info-container">
            <p *ngIf="friend">{{friend.friendName}}</p>
        </div>
    </div>
}@else{
    <div class="profile">
        <div class="profile-picture-container">
            <img [src]="(user | async)?.profilePicture || '/usericon2.png'" alt="photo de profil">
        </div>
        <div class="profile-info-container">
            <p *ngIf="(user| async) as user">{{user.username}}</p>
        </div>
        <div>
            <button class="profile-edit-btn" (click)="showModal()">Modifier</button>
        </div>
        <app-modal-edit-profil (closeModal)="handleModalClose()" [isVisible]="isVisible"></app-modal-edit-profil>
    </div>
}

