.friend{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(63,65,71,255) ;
    .container-profile-info{
        display: flex;
        .container-profile-img{
            width: 30px;
            .profile-img{

            }
        }
    }
    .friend-username{
        color: white;
        margin: 0px;
    }
    .friend-btn-container{
        display: flex;
        column-gap: 10px;
        .friend-btn{
            background-color:rgba(43,45,49,255);
            width: 25px;
            height: 25px;
            border :none;
            border-radius: 50%;
        }
    }
    
}
