.friend{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(63,65,71,255) ;
    .container-profile-info{
        display: flex;
        .container-profile-img{
            width: 30px;
            .profile-img{

            }
        }
    }
    .friend-username{
        color: white;
        margin: 0px;
    }
    .friend-btn-container{
        display: flex;
        column-gap: 10px;
        .friend-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgba(43,45,49,255);
            font-size: 20px;
            width: 40px;
            height: 40px;
            border :none;
            border-radius: 50%;
        }
        .friend-more-modale-container{
            position: relative;
            .friend-more-modale{
                display: none;
            }
            .friend-more-modale.visible{
            display: flex;
            align-items: center;
            position: absolute;
            top: 40px;
            right: 20px;
            width: 150px;
            padding: 10px 10px;
            background-color: rgb(44, 44, 44);
            border-radius: 5px;
            p{
                color: red;
                margin:0px
            }
        }
        }
    
        
    }
    
}
