<div class="friend">
    <div class="container-profile-info">
        <div class="container-profile-img">
            <img class="profile-img" src="" alt="">
            <div></div>
        </div>
        <div class="friend-username-container">
            <h3 class="friend-username">{{friend.friendName}}</h3>
        </div>
    </div>
    <div class="friend-btn-container">
        <button class="friend-btn">
            
        </button>
        <button class="friend-btn">
            
        </button>
    </div>
</div>
